<?php


$title = 'All Categories';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
  
<table class="table">
<tr>
    <th>Title</th>
     
</tr>
<?php foreach ($results as $result) : 
    
?>
<tr>
    <td><?php
    $category = $result['category'];
    $albums = $result['albums'];
    echo $this->escapeHtml($category->name) . "<br>"; 
    echo "<blockquote>";
    foreach ($albums as $album):
            echo $this->escapeHtml($album->title) . "<br>";
    endforeach;
        echo "</blockquote>";

     ?></td>
</tr>
<?php endforeach; ?>
</table>