<?php
// module/Album/view/album/album/index.phtml:

$title = 'Categories';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
  
<table class="table">
<tr>
    <th>Title</th>
    <th>Artist</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($categories as $category) : 
    
?>
<tr>
    <td><?php echo $this->escapeHtml($category->name);?></td>
    <td><?php echo $this->escapeHtml($category->url);?></td>
     
</tr>
<?php endforeach; ?>
</table>